.viewBooking__wrapper {
  background-color: var(--background);
  border-radius: 1rem;
  width: 50rem;
  padding: 2rem;
}

.viewBooking__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  /* padding: 3rem 2rem 1rem 2rem; */
}

.viewBooking__name {
  /* font-size: 2rem; */
  line-height: 2.6rem;
  font-weight: 500;
}

.viewBooking__roomAndIsCheckedIn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.viewBooking__roomAndIsCheckedIn h1 {
  font-weight: 500;
}

.viewBooking__statusBadge {
  align-items: center;

  display: flex;
  gap: 0.7rem;
  height: 1rem;
  width: fit-content;
  padding: 0.6rem;
  border-radius: 2rem;
}

.viewBooking__statusDot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.notCheckedIn {
  background-color: var(--light-red);
  color: var(--red);
}

.notCheckedIn div {
  background-color: var(--red);
}

.checkedIn {
  background-color: rgba(30, 203, 131, 0.1);
  color: var(--green);
}

.checkedIn div {
  background-color: var(--green);
}

.booked {
  background-color: rgba(176, 176, 176, 0.1);
  /* color: var(--green); */
}

.booked div {
  background-color: rgb(42, 42, 42);
  /* color: var(--green); */
}

.viewBooking__statusText {
  line-height: 1.5;
}

.viewBooking__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.viewBooking__mainLeft {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  height: 100%;
  border-radius: 1rem;
  box-shadow: var(--main-shadow);

  overflow-y: scroll;
  height: 25rem;
  scrollbar-color: #e0e0e0 #fff;
  scrollbar-width: thin;
}

.viewBooking__mainRight {
  display: flex;
  flex-direction: column;

  border-radius: 1rem;
}

.viewBooking__infoText {
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.viewBooking__platform {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.viewBooking__logo {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  border-radius: 0.5rem;
}

.viewBooking__priceList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.viewBooking__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: var(--main-shadow);
  border-radius: 1rem;
}

.viewBooking__addTransaction {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  box-shadow: var(--main-shadow);
  border-radius: 1rem;
  transition-duration: 0.2s;
}

.viewBooking__addTransaction i {
  color: var(--primary-color);
}

.viewBooking__addTransaction:hover {
  transform: scale(1.03);
}

.viewBooking__unpaid {
  color: var(--red);
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: 500;
}

.viewBooking__unpaidPrice {
  /* padding: 1rem;
  background-color: #fd416920;
  border-radius: 0.5rem; */
}

.viewBooking__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: space-between;
}

.viewBooking__actionsLeft {
  display: flex;
  gap: 1rem;
}

.viewBooking__bedIcon {
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  /* background-color: #1e3a5f; */
  background-color: var(--primary-color);

  color: #fff;
  font-size: 1.5rem;
}

.viewBooking__noteTextArea {
  margin-top: 0.5rem;
  width: 100%;
  resize: none;
  font-size: 1rem;
}

.viewBooking__nights {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #bb20fe10;
  color: #bb20fe;
  font-size: 1rem;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

.viewBooking__note {
  padding: 1rem;
  box-shadow: var(--main-shadow);
  border-radius: 1rem;
}
