.home__action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px;
  border-radius: 2rem;
  cursor: pointer;
}

.home__action i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.home__actionHighlight {
  background-color: var(--primary-color);
  color: #fff;
}

.home__actionHighlight i {
  color: #fff;
}
