.confirmationModal {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.confirmationModal__actions {
  display: flex;
  flex-direction: row-reverse;
}

.confirmationModal__headerText {
  font-weight: 500;
}

.confirmationModal__button {
  background-color: var(--red);
}
