.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__headerProfile img {
  height: 3.5rem;
  width: 3.5rem;
  object-fit: cover;
  border-radius: 10rem;
}

.home__headerProfile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home__headerProfile strong {
  margin-left: 0.2rem;
  color: var(--primary-color);
}

.home__stats {
  display: flex;
  gap: 1.5rem;
}

.home__statsItem h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

.home__statsAndActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__actions {
  display: flex;
  gap: 1rem;
}

.home__action:hover {
  transition-duration: 0.2s;
  transform: scale(1.05);
}

.home__action:active {
  transition-duration: 0.2s;
  transform: scale(0.97);
}

.home__modalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__refreshIcon {
  font-size: 1.5rem;
  cursor: pointer;
  transition-duration: 0.1s;
}

.home__refreshIcon:active {
  transform: rotate(120deg);
}

.home__profileImg:hover {
  transition-duration: 0.2s;

  transform: scale(1.1);
}
